body{
  /*display:flex;*/
  margin: auto;
}
header{
  height:489px;
  margin:0 auto;
  padding-top:30px;
  /*flex:auto;*/
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") center top;
  /*display:flex;*/
  background-size: cover;
  width:100%;
}
header .nav-container a{
  color: #F0F0F0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px 0 0;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: Lato,sans-serif;
}
header .nav-container a:hover{
  color: #FFF;
  border-bottom: 4px solid #bdd436;
  padding-bottom: 2px;
}
.nav-container{
  max-height: 98px;
  display:flex;
  /*flex-direction: column;*/
  align-items: center;
  flex-basis: 100%;
}
.nav-container-strip{
  flex-basis: 100%;
  max-height:38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 28px;
  margin-right: 28px;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: nowrap;
}
.nav-logo{
  background-size: 155px 31px;
  background-image: url(http://wideopentech.com/themes/wot-2013-gm/_/img/wot-logo-whitex2.svg);
  height:31px;
  width:155px;
}
.nav-filler{
  flex-grow:1;
}
.headline-container{
  /*text-align:center;*/
  width:100%;
}
.headline-font{
  padding-top:80px;
  font-size:155px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  text-align: center;
  max-width: 760px;
  margin:0 auto;
  font-family:Oswald;
  letter-spacing: 1px;
}
header small{
  font-size: 22px;
    font-weight: 500;
    display: block;
    color: #fff;
    text-align: left;
    margin-left: 2em;
}
#headline-em{
    line-height: 140px;
    width: 100%;
    display: block;
    margin: 0 0 35px 0
}
#headline-sub{
    font-size: 18px;
    /*margin-left: 20%;
    margin-right: 20%;*/
    font-weight: 500;
    text-transform: none;
    flex-shrink: 0;
}
.line{
  height: 9px;
  background: #fff;
  width: 90px;
  flex-shrink: 1;
  /*width: 20%;*/
  /*display:inline-block;*/
}
header em{
  color: #ff803a;
  font-style:normal;
}
header i{
  color: #bdd436;
  font-style: normal;
}
.headline-sub-container{
  display:flex;
  max-width: 760px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;

}
.cta-container{
  height:145px;
  width:100%;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content: center;
}
.cta-btn{
  background: #bdd436;
  border: 2px solid #bdd436;
  border-radius: 25px;
  font-weight: 700;
  font-size:16px;
  letter-spacing: 1px;
  padding: 11px 36px;
  font-family: Open Sans;
  text-decoration: none;
  color: #FFF;
  width:300px;
  /*width: 30%;*/
}
.cta-btn:hover{
  background: #C8E23A;
  border-color: #C8E23A;
}
.how-container{
  background: #f0f0f0;
  height:295px;
  flex-direction: column;
  padding: 40px 0;
  justify-content: center;
  display:flex;
  align-content: center;
  align-items: center;
}
.how-text{
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #6A787C;
  max-width: 940px;
  text-align: center;
  font-family: Open Sans;
  margin-bottom: 30px;
}
.how-icon{
  background: url("images/sprite_home.png");
  background-position: -20px -113px;
  width:77px;
  height:77px;
  margin-bottom: 10px;
}
.how-tag-text{
  font-size:42px;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 300;
  text-align: center;
  max-width: 760px;
  margin:0 auto;
  font-family:Oswald;
  /*letter-spacing: 1px;*/
  color: #6A787C;
}
.how-tag-text em{
  color: #bdd436;
  font-weight: bold;
  font-style: normal;
}
.learn-container{
  height:548px;
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;

}
.learn-container-sub{
  width: calc(100%/3);
  text-align: center;
}
.lc-img-1{
  background: url("images/sprite_home.png");
  background-position: -311px -100px;
  width:131px;
  height:160px;
  margin:auto;

}
.lc-img-2{
  background: url("images/sprite_home.png");
  background-position: -227px -91px;
  width:75px;
  height:160px;
  margin:auto;
}
.lc-img-3{
  background: url("images/sprite_home.png");
  background-position: -119px -100px;
  width:94px;
  height:160px;
  margin:auto;
}
.lc-text{
  font-size:18px;
  line-height:25px;
  font-weight: 400;
  color: #97A2A7;
  font-family: Open Sans;
  border-sizing: border-box;
  margin-bottom:30px;
}
.lc-text em{
  color: #bdd436;
  font-style: normal;

}
.lc-divider{
  border-left: 1px solid #d3d3d3;
  height: 80%;
}
.lc-a{
  border-sizing: border-box;
  margin-bottom:15px;
}
.lc-a a{
  text-decoration: none;
  color: #bdd436;
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 14px;
}
.lc-a a:hover{
  color:inherit;
}
.lc-arrow{
  background: url("images/sprite_home.png");
  background-position: -46px -292px;
  width:27px;
  height:30px;
  margin:auto;
}
.help-container{
  height: 807px;
  background: #f0f0f0;
  padding: 0;
  border-sizing:border-box;
  /*display:flex;*/
}
.help-container-sub{
  /*padding: 40px;*/
  border-sizing:border-box;
  height:100%;
  /*overflow:auto;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
}
.hcs-hl{
  padding-top: 40px;
  color: #40666d;
}
.hcs-shl{
  padding-top: 10px;
  color:#40666d;
  font-size: 22px;
  text-transform: none;
  font-family: Helvetica Neue;
  font-weight:500;
  line-height: 1.1;
  text-align: center;
  max-width: 760px;
  margin:0 auto;
}
.hcs-sub{
  line-height: .2;
  font-size: 16px;
  color: #858585;
  box-sizing: border-box;
}
.hcs-container{
  padding-top:70px;
  height:528px;
  box-sizing: border-box;
  max-width: 760px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin:0 auto;
}
.hcs-content{
  background:#fff;
  padding:30px 1em;
  box-sizing:border-box;
  margin:0 15px 15px 0;
  line-height: 1em;
  color:#40666d;
  width:450px;
  /*min-width:370px;*/
}
.hcs-cta{
  height:160px;
  width:100%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-content: center;
}
.hcs-cta-btn{
  width:170px;
  height:50px;
  position:relative;
  vertical-align: middle;
  box-sizing: border-box;
  margin: auto;
  font-family:Lato;
}
.companies-container{
  width:100%;
  padding: 40px 0;
}
.projects-container{
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:auto;
}
.projects-container > div{
  width: calc(100%/3);
  box-sizing: border-box;
  height: 285px;

}
.pc-1{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/AM-portfolio.png") center center /cover;
  height:auto;
}
.projects-container a{
  box-sizing: border-box;
  width:100%;
  height:100%;
  display:block;
  text-decoration: none;
  text-align: center;
}
.hover-container{
  opacity:0;
  color:white;
  background:rgba(19,32,35,0.7);
  height:100%;
  position: relative;
  top: 0;
  width:100%;
  transition:opacity 500ms;
  padding:20% 30px;
  box-sizing: border-box;
  display:block;
}
.pc-logo{
  margin: 0 auto;
  width: 48px;
  height: 48px;
  display:block;
}
.pc-service{
  font-size: 16px;
  display: block;
  font-family: Helvetica Neue;
  text-decoration: none;
}
.pc-button{
  color:#FFF;
  position: absolute;
  bottom:2px;
  right:5px;
  display:block;
}
.pc-icon{
  font-family:Material Icons;
  font-style: normal;
  font-size: 24px;
  box-sizing: border-box;
  display:block;

}
.hover-container:hover{
  opacity:1;
}
.pc-2{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/VG-portfolio.png") center center /cover;
  height:auto;
}
.pc-3{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/CI-portfolio.png") center center /cover;
  height:auto;
}
.pc-4{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/KF-portfolio.png") center center /cover;
  height:auto;
}
.pc-5{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/NCMA-portfolio.png") center center /cover;
  height:auto;
}
.pc-6{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/case-studies/TS-portfolio.png") center center /cover;
  height:auto;
}
.connect{
  background-color: #40666D;
  width:100%;
  box-sizing: border-box;
  padding: 80px 0% 80px 12%;
}
.connect-text{
  display:inline-block;
  font-family:Lato;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
  /*border-bottom: 4px solid #bdd436;*/
  box-sizing: border-box;
  width:calc((100%/3)*2);
}
.connect-cta{
  display:inline-block;
  box-sizing: border-box;
  padding: 0 80px;
}
.connect > *{
  vertical-align: middle;
}
.connect-und{
  padding: 10px 0;
  border-bottom: 4px solid #bdd436;
  box-sizing: border-box;
  margin-right: 84vw;
}
.location-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;

}
.loc-1{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wilmington.jpg") center center /cover;
  height:426px;
  width:calc(100%/2);
  display: flex;
  justify-content: center;
}
.loc-2{
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/asheville.jpg") center center /cover;
  height:426px;
  width:calc(100%/2);
  display: flex;
  justify-content: center;
}
.loc-container{
  align-self: center;
  height:40%;
  width:70%;
  /*border:1px solid red;*/
  box-sizing: border-box;
  background-color: rgba(19, 32, 35, 0.8);
  border-radius: 5px;
  padding:3% 20px;
}
.loc-container > *{
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  opacity: .8;
}
.loc-header{
  color: #bdd537;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 1.1;

}
.loc-text{
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size:1rem;
}
footer{
  background-color: #F6F6F6;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding:20px 5%;
}
.wo-footer{
  color:#6A787C;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 500;
}
.wo-footer-sub{
  color: #bdd537;
  font-size:10px;
}
.chat-container{
  position: fixed;
  z-index: 1;
  background:#bdd434;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  bottom:15px;
  right:15px;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  height:52px;
  box-sizing: border-box;
  padding: 15px;
}
.cc-text{
  font-family: Lucida Grande;
  color:#FFF;
  font-size: 13px;
  opacity:.8;
}
.cc-img{
  background: #BDD434;
  /*width:40px;*/
  padding-right:15px;
  display:flex;
  justify-content: center;
  align-content: center;
}
.cc-img-src{
  width:18px;
  height:18px;
  opacity: .6;
  background: url(https://img.zohostatic.com/salesiq/Feb_08_2017_https/images/float-sprite.png) no-repeat;
  background-position: -85px -836px;
}
